body {
	background-color: black;
	padding: 20px;
	text-align: center;
}

.sat-image {
	.display: inline;
	width: 30%;
	margin: 1%;
}

.location {
	color: white;
	.display: inline;
	width: 30%;
	margin: 0 30%;
	position: absolute;
}

