body {
	padding: 50px;
}

div.content {
	position: absolute;
	top: 100px;
	width: 90%;
	height: 800px;
}

div.content #defaultCanvas0 {
	position: absolute;
	top: 0;
}

.fallingP {
	width: 400px;
	top: 10px;
	right: 20px;
	padding: 0;
}

div.paras {
	position: absolute;
	top: 100px;
	width: 1200px;
	height: 800px;
}

p.header {
	font-weight: bold;
}