* {
	box-sizing: border-box;
}

body {
	background-color: #000022;
	font-family: 'Karla', sans-serif;
	padding: 30px 40px;


}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

h1 {
	color: #333;
	text-align: center;
	background-color: white;
	width: 40%;
	margin: 0 auto;
	border: 2px solid black;
	padding: 2px;
	text-transform: uppercase;
}

.lost-items {
	position: relative;
	top: 20px;
	margin: 50px auto 30px auto;
	text-align: center;
	}

div.lost-thing {
	display: inline-block;
	color: black;
	background-color: white;
	margin: 5px 8px;
	padding: 5px;
	text-align: center;
	opacity: .6;
	font-size: 20px;
}

div.lost-thing:hover {
	/*background-color: grey;*/
	opacity: 1;
	cursor: pointer;
}

.stories {
	/*border-top: 2px solid #aaa;*/
	text-align: center;
	padding: 2.5% 5px;
	height: 50px;

}

.lost-stories {
	width: 70%;
	font-size:20px;
	margin: 20px auto;
	color: #ccc;
	opacity: 0;
	display: flex;
  	justify-content: center;
  	flex-direction: column;
  	/*font-family: 'Source Code Pro', monospace;*/

}

.images {
	position: absolute;
	top: 60%;
	margin: 0 auto;
	text-align: center;
	z-index: -1;
}

img.pic {
	height: 185px;
	z-index: -1;
	display: inline-block;
	margin: 0 55px;

}

img.brain {
	height: 140px;
}


.people {
	background-color: #D1F2A5;
}

.things {
	background-color: #FFC48C;
}

.mindset {
	background-color: pink;
}

.other {
	background-color: #F56991;
}
